extends layout
block content
    #map
    
    script(type='text/javascript').
        var map = L.map('map').setView([#{mapdata.lat}, #{mapdata.lon}], 10);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '#{mapdata.key}'
        }).addTo(map);        
        var markerseq = 0;
        var info = {
            id: '#{mapdata.clientid}',
            lat: #{mapdata.lat}, 
            lon: #{mapdata.lon}
        };
        var client = io.connect('/client');
        client.on('connect', function() {    
            client.emit('hello', JSON.stringify(info));
        }); 
        client.on('status', function() {
            client.emit('status', JSON.stringify( { markerseq: markerseq } ));
        });
        client.on('point', function(data) {
            console.log("Got point: " + data);
            info = JSON.parse(data);
            var marker = L.marker([info.latitude, info.longitude]).addTo(map);
            marker.bindPopup("<a href=\"" + info.link + "\">" + info.name + "</a>");
            markerseq++;
        });
        
        